<div class="">
   <h4 class="font-italic">Latest Posts</h4>
   <ol class="list-unstyled mb-0">
      <li>
         <div class="row flex-md-row">
            <div class="col-auto d-flex flex-column text-primary py-auto">
               <i class="fas fa-clipboard fa-3x text-dark"></i></div>
            <div class="col d-flex flex-column">
               <span class="post-date">Thursday, August 08, 2015</span>
               <h6 class="text-dark">The signiicance of the cross</h6>
            </div>
         </div>
      </li>


      <li>
         <div class="row flex-md-row">
            <div class="col-auto d-flex flex-column text-primary py-auto">
               <i class="fas fa-clipboard fa-3x text-dark"></i></div>
            <div class="col d-flex flex-column">
               <span class="post-date">Thursday, August 08, 2015</span>
               <h6 class="text-dark">The signiicance of the cross</h6>
            </div>
         </div>
      </li>
      <li>
         <div class="row flex-md-row">
            <div class="col-auto d-flex flex-column text-primary py-auto">
               <i class="fas fa-clipboard fa-3x text-dark"></i></div>
            <div class="col d-flex flex-column">
               <span class="post-date">Thursday, August 08, 2015</span>
               <h6 class="text-dark">The signiicance of the cross</h6>
            </div>
         </div>
      </li>
      <li>
         <div class="row flex-md-row">
            <div class="col-auto d-flex flex-column text-primary py-auto">
               <i class="fas fa-clipboard fa-3x text-dark"></i></div>
            <div class="col d-flex flex-column">
               <span class="post-date">Thursday, August 08, 2015</span>
               <h6 class="text-dark">The signiicance of the cross</h6>
            </div>
         </div>
      </li>
      <li>
         <a href="">Learn More&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i> </a>
      </li>
   </ol>
</div>