<div class="" *ngIf="fullPageDisplay; else shortDisplay">
   <app-pages-top [pageTitle]="'Posts'"></app-pages-top>
   <div class="container-lg">
      <div *ngIf="posts.length !=0; else noPosts">
         <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">            
               <div class="col py-3 mx-auto" *ngFor="let post of posts">
                  <div class="card shadow-sm">               
                     <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                     aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" role="img" focusable="false">
                     <title>Placeholder</title>
                     <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Thumbnail</text>
                     </svg>

                     <div class="card-body">
                        <small class="custom-date-style text-muted">{{post.date | date: 'mediumDate'}}</small>
                        <p class="card-text">{{post.description}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                           <small class="text-muted">Author: {{post.author}}</small>
                           <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Read Post</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>     
         </div>
      </div>
      <ng-template #noPosts>
         <p class="py-4">There are no posts currently. Please keep checking for inspirational teachings.</p>
      </ng-template>
   </div>
</div>
<ng-template #shortDisplay>
   <div *ngIf="posts.length !=0">
      <h4 class="font-italic">Latest Posts</h4>
      <ol class="list-unstyled mb-0">
         <li *ngFor="let post of posts">
            <a routerLink="posts" class="larger-link">
               <div class="row flex-md-row">                  
                     <div class="col-auto d-flex flex-column py-auto">
                        <i class="fas fa-clipboard fa-3x text-dark"></i></div>
                     <div class="col d-flex flex-column">
                        <h6 class="py-0 my-0">{{post.title}}</h6>
                        <span class="custom-date-style">{{post.date | date: 'mediumDate'}}</span>
                     </div>
               </div>
            </a>
         </li>
         <li>
            <a href="">Learn More&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i> </a>
         </li>
      </ol>
   </div>
</ng-template>
