<div class="d-none d-lg-block">
   <app-about [fullPageDisplay]=fullPageDisplay></app-about>
</div>
<div class="pt-5 pb-1 py-lg-1">
   <app-posts [fullPageDisplay]=fullPageDisplay></app-posts>
</div>
<div class="pt-3 pb-1 py-lg-1">
   <app-sermons [fullPageDisplay]=fullPageDisplay></app-sermons>
</div>
<div class="pt-3">
   <h4 class="font-italic">Elsewhere</h4>
   <ol class="list-unstyled">
      <li>
          <a href="#">Pentecostal Assemblies of God- Kenya Headquarters</a>
      </li>
   </ol>
</div>