<div class="p-4 p-md-5 mb-4 text-white bg-dark" id="landing"
   style="padding-top: 9.7rem !important; padding-bottom: 9.7rem !important;">
   <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Open Your Heart To God!</h1>
      <h1 class="display-7">Start a New Way of Living!</h1>
      <p class="lead my-3">
         For God did not send his Son into the world to condemn the world, but to save the world through him - John 3:17
      </p>
      <p class="lead mb-0">
      <a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
   </div>
</div>
