<div class="row pt-5">
<h4 class="text-uppercase text-center">Bulletins</h4>
</div>
<div class="px-2 shadow-lg">
   <div class="row">
      <div class="row g-0 overflow-hidden
                  position-relative">
         <div class="col-md-6 p-4 d-flex flex-column position-static border bulletin">
            <div class="mb-1 text-muted fst-italic small">12 Nov 2022</div>
            <h5 class="mb-0 text-uppercase">Featured post</h5>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                  lead-in to additional content.</p>
            <a href="#" class="stretched-link">Read More...</a>
         </div>
         <div class="col-md-6 d-lg-block bg-secondary">
            
         </div>
      </div>   
   </div>
   <div class="row">
      <div class="row g-0 overflow-hidden
                  position-relative">
         <div class="col-md-6 d-lg-block bg-secondary">
   
         </div>
         <div class="col-md-6 p-4 d-flex flex-column position-static border bulletin">
            <div class="mb-1 text-muted fst-italic small">12 Nov 2022</div>
            <h5 class="mb-0 text-uppercase">Featured post</h5>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                  lead-in to additional content.</p>
            <a href="#" class="stretched-link">Read More...</a>
         </div>      
      </div>   
   </div>   
</div>