<div class="container-fluid">
   <div class="row">
      <div class="col-6 col-md">
         <h5>Location</h5><br/>
         <span class="small">Link to google map goes here</span>
         <iframe src="" frameborder="0"></iframe>
      </div>
      <div class="col-6 col-md">
            <h5>Quick Links</h5>
            <ul class="list-unstyled text-small">
               <li><a class="link-secondary" routerLink="">Home</a></li>
               <li><a class="link-secondary" routerLink="about">About Us</a></li>
               <li><a class="link-secondary" routerLink="contact">Contact Us</a></li>
               <li><a class="link-secondary" routerLink="posts">Posts</a></li>
               <li><a class="link-secondary" routerLink="sermons">Sermons</a></li>
               <li><a class="link-secondary" routerLink="programs">Programs &amp; Events</a></li>
            </ul>
      </div>
      <div class="col-6 col-md">
            <h5>Our Address</h5>
            <address>
               <span class="text-capitalize">Pentecostal Assemblies of God</span><br/>
               <span class="text-capitalize">122 Street Road Ole Nguruone</span><br/>
               <span class="text-capitalize">Nakuru 1200, Kenya</span><br/><br/>
               <span>Phone: 0712 345 678</span><br/>
               <span>Email: <a href="mailto:pag@olenguruone.com" 
                  class="link-secondary">pag@olenguruone.com</a></span><br/>
            </address>
      </div>
      <div class="col-6 col-md">
            <h5>Connect</h5>
            <div class="social-media-icons pb-1">
               <span class="px-1"><i class="fab fa-facebook fa-2x"></i></span>
               <span class="px-1"><i class="fab fa-youtube fa-2x"></i></span>
               <span class="px-1"><i class="fab fa-instagram fa-2x"></i></span>
               <span class="px-1"><i class="fab fa-twitter fa-2x"></i></span>
            </div>
            <!-- <i class="fa fa-envelope"></i>&nbsp;<a href="mailto:pag@olenguruone.com" class="link-secondary">pag@olenguruone.com</a> -->
      </div>
   </div>
   </div>