<div class="" *ngIf="fullPageDisplay; else shortDisplay">
   <app-pages-top [pageTitle]="'Programs &amp; Events'"></app-pages-top>
   <div class="container-lg py-3">
      <div class="row py-2 border" *ngFor="let event of getEvents(4)">
         <div class="col-md-2 text-center">
            <p class="bg-primary p-2 text-white">
            <span class="small">{{event.startDate | date:'d'}}</span><br/>
            <span class="small">{{event.startDate | date:'MMM y'}}</span>
            </p>
         </div>
         <div class="col-md-4 bg-secondary">
            <!-- <img class="img-fluid" src="../../../../../assets/images/logo.png" alt=""> -->
         </div>
         <div class="col-md-6">
            <p class="smaller py-0 my-0 border-bottom">
               {{event.startDate | date:'M/d/yy h:mm a'}} - {{event.startDate | date:'M/d/yy h:mm a'}}
            </p>
            <h6 class="text-uppercase py-2 my-0 fw-bold">{{event.theme}}</h6>
            <p class="">{{event.description}}</p>
            <p class="small py-0 my-0">Venue: {{event.venue}}</p>
            <p class="small py-0 my-0">Speaker: {{event.speaker}}</p>
         </div>
      </div>      
   </div>
</div>
<ng-template #shortDisplay>
   <div class="row pt-5 pb-2">
      <h4 class="text-uppercase text-center">Programs & Events</h4>
   </div>
   <div class="row bg-primary text-white justify-content-between">
      <div class="col-sm col-4-md col-lg-3 program" *ngFor="let event of getEvents(4)">
         <h6 class="text-uppercase text-center">{{event.startDate | date:'mediumDate'}}</h6>
         <h6 class="text-uppercase text-center">{{event.theme}}</h6>
         <h6 class="text-center">Venue: {{event.venue}}</h6>
         <h6 class="text-uppercase text-center">{{event.startDate | date:'E, h:mm a'}}</h6>
         <div class="text-center">
            <div class="btn btn-sm btn-outline-light">DETAILS</div>
         </div>
      </div>
      <div class="col-sm col-4-md col-lg-3 py-3">
         <h6 class="text-uppercase text-center">Time Schedule</h6>
         <div class="d-flex justify-content-between px-md-3 px-md-5"
               *ngFor="let weeklytimeSchedule of weeklytimeSchedules | keyvalue">
            <div>{{weeklytimeSchedule.key}}</div>
            <div>{{weeklytimeSchedule.value}}</div>
         </div>
      </div>
   </div>
</ng-template>
