<div class="" *ngIf="fullPageDisplay; else shortDisplay">
   <app-pages-top [pageTitle]="'About Our Church'"></app-pages-top>
   <div class="container-lg">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur a totam at reprehenderit exercitationem. Voluptates nobis inventore iusto quis eaque totam itaque corrupti repellat facere voluptatibus similique maxime, repudiandae, alias cum tempora molestiae assumenda laboriosam? Quasi alias nemo ea laudantium aut magni facere, ipsa veniam magnam eius voluptates recusandae laborum porro et dolor nostrum nesciunt sit modi rem deleniti? Magni ullam libero tempore voluptatibus rem quis voluptatem doloribus? Facilis id optio ullam magnam fugit beatae, neque, laudantium ex delectus eos voluptatem veniam quibusdam earum voluptatum expedita ab inventore maxime doloribus eaque, amet consequatur similique voluptas repudiandae doloremque! Possimus, deserunt eligendi.
      <h1>Add Location details also</h1>
   </div>
</div>
<ng-template #shortDisplay>
   <div class="p-4 mb-3 border rounded shadow">
      <h4 class="font-italic">About Our Church</h4>
      <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur
            purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
   </div>
</ng-template>
