<app-landing></app-landing>
<div class="container">
   <app-welcome></app-welcome>

   <div class="row py-4">
      <div class="col-md-8" style="border-right: 1px dotted grey;">
         <app-doctrine></app-doctrine>
         <app-bulletins></app-bulletins>
      </div>
      <aside class="col-md-4">
         <app-sidebar></app-sidebar>
      </aside>
   </div>
</div>
<app-programs-and-events [fullPageDisplay]=false></app-programs-and-events>
<div class="container-fluid">
   <div class="row">
      <div class="col-7 mx-auto my-5 fst-italic">
         <p class="lead text-center fw-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, animi. Possimus ab nobis aut explicabo molestias voluptas ea vel modi?</p>
         <p class="lead text-center fw-500">Matthew 10:2</p>
      </div>
   </div>
</div>