<app-landing></app-landing>
<div class="container-lg pb-5">
   <app-welcome></app-welcome>

   <div class="row py-4">
      <div class="col-lg-9" style="border-right: 1px dotted rgba(0, 0, 0, 0.5);">
         <app-doctrine></app-doctrine>
         <!-- <app-bulletins></app-bulletins> -->
      </div>
      <aside class="col-lg-3" id="sidebar">
         <app-sidebar></app-sidebar>
      </aside>
   </div>
</div>
<div class="bg-white pt-3">
   <app-programs-and-events [fullPageDisplay]=false></app-programs-and-events>
   <app-verses-carousel></app-verses-carousel>
</div>
 